.checkout-page{
  padding: 20px;
  overflow: auto;
  
}

.checkout-page--txt{
  text-align: center;
   margin: 20px;
}

.checkout-summaries{
  padding-left: 30px;
  text-align: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 85%;
  margin: auto;
  text-align: center;
  overflow: auto;
  height: calc(100vh - 150px);
}

.addtional-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 16px;
}

.addtional-info--txt{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  color: black;
  font-size: 14px;
  font-family: kyiv-type-title;
  word-wrap: break-word;
  border: none;
  
 }

.menu-order{
  display: flex;
  gap: 16px;  
  justify-content: center;
  flex-direction: column;
}

@media all and (min-width: 768px) {
  .menu-order {
    flex-direction: row;
  }
}

.gross-amt {
  width: 50%;
}

.gross-amt--field {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black; 
  font-size: 12px;
  font-family:kyiv-type-title;
  word-wrap: break-word;
  border-bottom: 1px solid #000;
}

.checkout-page__no-item {
  text-align: center;
  padding: 40px;
  background: rgba(0, 0,0, 0.5);
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.checkout-page__no-item a {
  width: 150px;
}