.home-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%) ;
  text-align: center;
}

.home-page--txt{
  color: white;
  font-size: 20px;
  font-family: Kyiv-type-title;
  word-wrap: break-word;
  padding-bottom: 30px;
 }

 .home-page--btn{
    padding: 8px;  
    color: black;
    background-color: white;
    font-size: 15px;
    font-family:  kyiv-type-serif;
    word-wrap: break-word
    
  }
 