.menu-item{
  margin-left: 20px;
  margin-top: 20px;
  background-color: black;
  width: 20%;
  height: 20%;
 
}

.menu-item--text{
color: white;
font-size: 14px;
font-family:kyiv-type-title;
font-weight: 700;
word-wrap: break-word;
text-align: center;
}

.menu-item__name--price{
color: white;
 font-size: 12px;
 font-family: kyiv-type-title;
 font-weight: 700;
 word-wrap: break-word;
 margin-left: 20px;
}

.menu-item--image{
margin-left: 20px;
margin-top: 20px;
}

.menu-item--button{
  color: white;
  font-size: 10px;
  font-family:  kyiv-type-serif;
  font-weight: 700;
  word-wrap: break-word;

 
  padding: 8px;
  text-align: center;
}


