.menu-item{
  
}

.menu-item--text{
color: white;
font-size: 14px;
font-family:kyiv-type-title;
font-weight: 700;
word-wrap: break-word;
text-align: center;
}

.menu-item__name--price{
color: white;
 font-size: 12px;
 font-family: kyiv-type-title;
 font-weight: 700;
 word-wrap: break-word
}

.menu-item--button{
  color: black;
  font-size: 10px;
  font-family:  kyiv-type-serif;
  font-weight: 700;
  word-wrap: break-word;
  background-color: white;
  width: 5%;
  height: 5%;
  padding: 8px;
  text-align: center;
}


